.header {

  width: 100%;
  position: sticky;
  top: 0;

  background: #020617;

  z-index: 1000;

}

.header-container {

  max-width: 1200px;
  margin: auto;

  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

/* LOGO */

.logo {
  font-size: 20px;
  font-weight: 600;
}

.logo span {
  color: #3b82f6;
}

/* NAV DESKTOP */

.nav {

  display: flex;
  gap: 30px;

}

.nav a {
  text-decoration: none;
  color: #cbd5f5;
}

/* BURGER */

.burger {

  display: none;
  flex-direction: column;

  gap: 5px;
  cursor: pointer;

}

.burger span {

  width: 26px;
  height: 2px;

  background: white;

  transition: 0.3s;

}

/* MOBILE */

@media (max-width: 900px) {

  .burger {
    display: flex;
  }

  .nav {

    position: fixed;

    top: 70px;
    left: 0;

    width: 100%;

    background: #020617;

    flex-direction: column;
    align-items: center;

    gap: 25px;

    padding: 40px 0;

    transform: translateY(-150%);

    transition: transform 0.35s ease;

  }

  .nav-open {
    transform: translateY(0);
  }

}

/* BURGER ANIMATION */

.burger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(6px);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-6px);
}